xml-resources/web-service-references/TransactionService/wsdl/api.trustev.com/v1/TransactionService.svc.xsd_xsd4.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social"><xs:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types"></xs:import><xs:complexType name="SocialNetwork"><xs:sequence><xs:element minOccurs="0" name="Id" nillable="true" type="xs:string"></xs:element><xs:element minOccurs="0" name="LongTermAccessToken" nillable="true" type="xs:string"></xs:element><xs:element minOccurs="0" name="LongTermAccessTokenExpiry" type="xs:dateTime"></xs:element><xs:element minOccurs="0" name="Secret" nillable="true" type="xs:string"></xs:element><xs:element minOccurs="0" name="ShortTermAccessToken" nillable="true" type="xs:string"></xs:element><xs:element minOccurs="0" name="ShortTermAccessTokenExpiry" type="xs:dateTime"></xs:element><xs:element minOccurs="0" name="Type" type="q1:Constants.SocialNetworkType" xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types"></xs:element></xs:sequence></xs:complexType><xs:element name="SocialNetwork" nillable="true" type="tns:SocialNetwork"></xs:element></xs:schema>