src/META-INF/wsdl/api.trustev.com/v1/SocialService.svc.xsd_xsd5.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social.Responses"><xs:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication"></xs:import><xs:complexType name="AddProfileResponse"><xs:complexContent mixed="false"><xs:extension base="q1:ResponseBase" xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="AddProfileResponse" nillable="true" type="tns:AddProfileResponse"></xs:element><xs:complexType name="UpdateProfileResponse"><xs:complexContent mixed="false"><xs:extension base="q2:ResponseBase" xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="UpdateProfileResponse" nillable="true" type="tns:UpdateProfileResponse"></xs:element><xs:complexType name="DeleteProfileResponse"><xs:complexContent mixed="false"><xs:extension base="q3:ResponseBase" xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="DeleteProfileResponse" nillable="true" type="tns:DeleteProfileResponse"></xs:element></xs:schema>