xml-resources/web-service-references/SocialService/wsdl/api.trustev.com/v1/SocialService.svc.xsd_xsd3.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication"><xs:complexType name="RequestBase"><xs:sequence><xs:element minOccurs="0" name="Timestamp" type="xs:dateTime"></xs:element><xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"></xs:element><xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string"></xs:element></xs:sequence></xs:complexType><xs:element name="RequestBase" nillable="true" type="tns:RequestBase"></xs:element><xs:complexType name="ResponseBase"><xs:sequence><xs:element minOccurs="0" name="Code" type="xs:int"></xs:element><xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"></xs:element><xs:element minOccurs="0" name="Timestamp" type="xs:dateTime"></xs:element></xs:sequence></xs:complexType><xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase"></xs:element></xs:schema>